/* globals.css */

@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";

/* Global renkler ve font ayarları */
:root {
  --background: #ffffff;
  --foreground: #fff;
  --font-sans: "Roboto", sans-serif;
  --font-mono: "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
    --font-sans: "Roboto", sans-serif;
  }
}

/* Body için genel stil */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
