@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";



:root {
  --background: #b4b4b4;
  --foreground: #b4b4b4;
  --font-sans: "Roboto", sans-serif;
  --font-mono: "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b4b4b4;
    --foreground: #b4b4b4;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
