@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";

:root {
  --font-sans: "Lato", sans-serif;
  --font-mono: "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b4b4b4;
    --foreground: #b4b4b4;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1 {
  font-size: 2.5rem !important;
  font-weight: bold;
}
