.swiper-slide {
  transition: transform 0.3s ease, filter 0.3s ease, z-index 0.3s ease;
  transform: scale(0.85) rotateY(0deg);
  filter: grayscale(50%) blur(1px);
  z-index: 1;
}

.swiper-slide-active {
  transform: scale(1.05) rotateY(0deg) !important;
  filter: grayscale(0%) blur(0) !important;
  z-index: 10 !important;
}

.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.9) rotateY(-4deg);
  filter: grayscale(30%) blur(0.5px);
  z-index: 5;
}

.scrollable-text {
  overflow-y: auto;
  max-height: 14rem;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollable-text::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollable-text:hover {
  scrollbar-width: thin;
}

.scrollable-text:hover::-webkit-scrollbar {
  width: 6px;
}

.scrollable-text:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 3px;
}
